.img-detail {
  object-fit: cover;
  background-size: cover;
  width: 350px;
  height: 350px;
  border: #f0f0f0 8px outset;
}
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

/* .centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.image-container {
  display: flex;
  align-items: center;
}

.text-title {
  text-align: center;
  font-size: 35px !important;
}
.text-information{
  text-align: center;
}
.container-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-ahj2mt-MuiTypography-root {
  font-weight: bold !important;
}

.text-date {
  padding-left: 10px;
  font-size: 18px !important;
}
.text-price {

  font-size: 20px !important;
  margin-top: 10px!important;
}
.text-date {
  font-size: 20px !important;
  margin-top: 10px!important;
}

/* .css-4go8ts-MuiPaper-root-MuiCard-root{
    margin-top: 15px;
 
    
} */
.title-store {
  font-size: 30px !important;
  padding-left: 20px;
  margin-top: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-img{
  border: 2px solid rgb(173, 171, 171)!important;
  border-radius: 10px;

}

.galery-center{
  display: flex;
    justify-content: center;
}
.img-store{
  padding: 20px;
}

.img-content{
  display: flex;
    justify-content: center;
}

.box{

  border-color:#0a4f90!important;
 
}


.container-title{
  background-color:#2d2d2d;
  color: white;
}
.btn-back{
  width: 40%;
   /* width: 50%; */
  margin-top: 25px!important;

}

.ov-btn-grow-spin {
  background: #fff; /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #4741d7; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-grow-spin:hover {
  color: #fff;/* color de fuente hover */
}
.ov-btn-grow-spin::after {
  content: "";
  background: #4741d7; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
  transition: all 0.3s ease;
}
.ov-btn-grow-spin:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1) rotate(0deg);
}

.link-back{
  text-decoration:none
}
.btn-detail{
  text-decoration:none
}