.img-detail {

  background-size: cover;
  width: 350px;
  height: 350px;

}
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

/* .centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.image-container {
  display: flex;
  align-items: center;
}

.text-title {
  text-align: center;
  font-size: 35px !important;
  font-weight:"bold"!important;
  font-family:"Barlow,sans-serif"!important;
}
.text-information{
  text-align: center;
}
.container-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-ahj2mt-MuiTypography-root {
  font-weight: bold !important;
}

.text-date {
 
  margin-top: 5px;
}
.text-price {

  font-size: 20px !important;
  margin-top: 10px!important;
}

.MuiImageListItemBar-titleWrap{
  padding: 15px!important;
}
.title-store {

-webkit-background-clip: text!important;
     background-clip: text!important;
    -webkit-text-fill-color: transparent;
    font-size: 30px !important;
    padding-left: 20px;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    display: flex;
  align-items: center;
  justify-content: center;
    background: linear-gradient( 135deg, #48337b, #2d2d2d   );
    font-weight:"bold"!important;
    font-family:"Barlow,sans-serif"!important;
  
  

}

.border-img{
  border: 2px solid rgb(173, 171, 171)!important;
  border-radius: 10px;

}

.galery-center{
  display: flex;
    justify-content: center;
}
.img-store{
  padding: 20px;
}

.img-content{
  display: flex;
    justify-content: center;
    margin-top: 20px;
   
}

.conte{
  /* background-color:gainsboro; */
  border: #f0f0f0 8px outset;
}

 


/* margin-right: 10px;
margin-bottom: 20px;
} */


 

.tit{
  background-color: #48337b;
}
.box{

  border-color:#0a4f90!important;
 
}


.container-title{
  background-color:#2d2d2d;
  color: white;
}
.btn-back{
  width: 40%;
   /* width: 50%; */
  margin-top: 25px!important;

}

.ov-btn-grow-spin {
  background: #fff; /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #4741d7; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px!important;
  margin-bottom: 20px!important;

}
.ov-btn-grow-spin:hover {
  color: #fff;/* color de fuente hover */
}
.ov-btn-grow-spin::after {
  content: "";
  background: #4741d7; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
  transition: all 0.3s ease;
}
.ov-btn-grow-spin:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1) rotate(0deg);
}

.link-back{
  text-decoration:none
}
.btn-detail{
  text-decoration:none
}

  .css-ta95xa-MuiImageListItem-root .MuiImageListItem-img {
    object-fit: none!important;

    
    width: 100%!important;
    height: auto;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.css-v4nya5-MuiImageList-root {
  display: grid;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  width: 750px;
  margin-bottom: 50px;
  height: 350px!important;}


   
    
    /* margin: 0 auto!important;
    padding: 12px; */
    .card-store{
      background: #f4f4f2!important;
      border: 1px rgb(77, 240, 224) solid!important;
    }
    .class-img{
       width: 150px!important;
       margin: 0 auto!important;
    padding: 12px;
    }