body{
    /* background-color: #48337b!important; */
 
    background:#48337b!important;
  
 }
 
 
 .text-welc{
    -webkit-background-clip: text!important;
     background-clip: text!important;
    -webkit-text-fill-color: transparent;
    width: 500px!important;
    font-size: 70px!important;
    background: linear-gradient( 135deg, #ffffff, #4ccfce );
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    }
 
 .text-game{
  
    
    -webkit-background-clip: text!important;
     background-clip: text!important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient( 135deg, #ffffff, #4ccfce );
 }
 
 .img-games{
    margin-top: 100px;
 }
 
 