.titlePrimary{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    height: 100vh;

    
   

}


/* .clumnas{
display: flex;
style: {{textAlign: 'center'}} 
flex-direction:column;
} */

.form-search{
   text-align: center !important;
}