.titlePrimary {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  height: 100vh;
}

.card {
  background-color: aqua;
}

.form-search {
  text-align: center !important;
}

.form-valid{
   display: flex!important;
   align-items: center!important;
  justify-content: center!important;
  margin-top: 20px;

}